In the original lab, this is the introduction: 
> In this project, you will work with three datasets that are available on the City of Chicagoâ€™s Data Portal:

* Socioeconomic indicators in Chicago
* Chicago public schools
* Chicago crime data

You must download each dataset, create a table for each one, and load the appropiate dataset through the Db2 console. If you have already completed the Hands on Lab: Joins, you can reuse the tables you created for that hands-on lab. However, you should not reuse similar tables with other names from other exercises or labs, as they may not create the correct results.

Here are the links to the datasets:
* [Socioeconomic Indicators in Chicago](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/BonusModule_Coursera_v5/datasets/ChicagoCensusData.csv)
* [Chicago Public Schools](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/BonusModule_Coursera_v5/datasets/ChicagoPublicSchools.csv)
* [Chicago Crime Data](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/BonusModule_Coursera_v5/datasets/ChicagoCrimeData.csv)

The data is all ready in the FinalDB.db file, so you don't need to download it. We need to start a connection to the database and load the SQL extension into the database.

In [1]:
%load_ext sql

In [2]:
#Create the conecction to the database
%sql sqlite:///FinalDB.db

In [3]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('table', 'CENSUS_DATA', 'CENSUS_DATA', 2, 'CREATE TABLE "CENSUS_DATA" (\n"COMMUNITY_AREA_NUMBER" REAL,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "PERCENT_OF_HOUSING_CROWDED" REAL,\n  "PERCENT_HOUSEHOL ... (73 characters truncated) ... T_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" REAL,\n  "PERCENT_AGED_UNDER_18_OR_OVER_64" REAL,\n  "PER_CAPITA_INCOME" INTEGER,\n  "HARDSHIP_INDEX" REAL\n)'),
 ('table', 'CHICAGO_PUBLIC_SCHOOLS', 'CHICAGO_PUBLIC_SCHOOLS', 5, 'CREATE TABLE "CHICAGO_PUBLIC_SCHOOLS" (\n"School_ID" INTEGER,\n  "NAME_OF_SCHOOL" TEXT,\n  "Elementary, Middle, or High School" TEXT,\n  "Street_Addr ... (2217 characters truncated) ... tude" REAL,\n  "COMMUNITY_AREA_NUMBER" INTEGER,\n  "COMMUNITY_AREA_NAME" TEXT,\n  "Ward" INTEGER,\n  "Police_District" INTEGER,\n  "Location" TEXT\n)'),
 ('table', 'CHICAGO_CRIME_DATA', 'CHICAGO_CRIME_DATA', 101, 'CREATE TABLE "CHICAGO_CRIME_DATA" (\n"ID" INTEGER,\n  "CASE_NUMBER" TEXT,\n  "DATE" TEXT,\n  "BLOCK" TEXT,\n  "IUCR" TEXT,\n  "PRIMARY_TYPE" TEXT,\n  ... (187 characters truncated) ... \n  "FBICODE" TEXT,\n  "X_COORDINATE" REAL,\n  "Y_COORDINATE" REAL,\n  "YEAR" INTEGER,\n  "LATITUDE" REAL,\n  "LONGITUDE" REAL,\n  "LOCATION" TEXT\n)')]

# Exercise 1: Using Joins

## Question 1
> Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

<details>
<summary>Hint 1</summary>
Use tables CHICAGO_PUBLIC_SCHOOLS and CENSUS_DATA
</details>

<details>
<summary>Hint 2</summary>

</details>

In [4]:
%%sql
--Select the school names, community names and average attendance for schools with a hardship index of 98
SELECT 
    CENSUS_DATA.HARDSHIP_INDEX, 
    CENSUS_DATA.COMMUNITY_AREA_NAME, 
    CHICAGO_PUBLIC_SCHOOLS.NAME_OF_SCHOOL,  
    CHICAGO_PUBLIC_SCHOOLS.AVERAGE_STUDENT_ATTENDANCE 
FROM 
    CENSUS_DATA 
INNER JOIN 
    CHICAGO_PUBLIC_SCHOOLS 
    ON 
    CENSUS_DATA.COMMUNITY_AREA_NUMBER = CHICAGO_PUBLIC_SCHOOLS.COMMUNITY_AREA_NUMBER
WHERE
    CENSUS_DATA.HARDSHIP_INDEX = 98;

 * sqlite:///FinalDB.db
Done.

[(98.0, 'Riverdale', 'George Washington Carver Military Academy High School', '91.60%'),
 (98.0, 'Riverdale', 'George Washington Carver Primary School', '90.90%'),
 (98.0, 'Riverdale', 'Ira F Aldridge Elementary School', '92.90%'),
 (98.0, 'Riverdale', 'William E B Dubois Elementary School', '93.30%')]

## Question 2

>Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [5]:
%%sql
SELECT 
    CHICAGO_CRIME_DATA.CASE_NUMBER,
    CHICAGO_CRIME_DATA.PRIMARY_TYPE,
    CHICAGO_CRIME_DATA.LOCATION_DESCRIPTION,
    CHICAGO_CRIME_DATA.COMMUNITY_AREA_NUMBER,
    CENSUS_DATA.COMMUNITY_AREA_NUMBER,
    CENSUS_DATA.COMMUNITY_AREA_NAME
FROM
    CHICAGO_CRIME_DATA
INNER JOIN
    CENSUS_DATA
    ON
    CHICAGO_CRIME_DATA.COMMUNITY_AREA_NUMBER = CENSUS_DATA.COMMUNITY_AREA_NUMBER
WHERE
    CHICAGO_CRIME_DATA.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('HL353697', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 43.0, 43.0, 'South Shore'),
 ('HL725506', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 4.0, 4.0, 'Lincoln Square'),
 ('HP716225', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 35.0, 35.0, 'Douglas'),
 ('HH639427', 'BATTERY', 'SCHOOL, PUBLIC, BUILDING', 25.0, 25.0, 'Austin'),
 ('JA460432', 'BATTERY', 'SCHOOL, PUBLIC, GROUNDS', 70.0, 70.0, 'Ashburn'),
 ('HS200939', 'CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS', 25.0, 25.0, 'Austin'),
 ('HK577020', 'NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS', 1.0, 1.0, 'Rogers Park'),
 ('HS305355', 'NARCOTICS', 'SCHOOL, PUBLIC, BUILDING', 58.0, 58.0, 'Brighton Park'),
 ('HT315369', 'ASSAULT', 'SCHOOL, PUBLIC, GROUNDS', 27.0, 27.0, 'East Garfield Park'),
 ('HR585012', 'CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS', 70.0, 70.0, 'Ashburn')]

# Exercise 2: Creating a View

*For privacy reasons, you have been asked to create a view that enables users to select just the school name and the icon fields from the CHICAGO_PUBLIC_SCHOOLS table. By providing a view, you can ensure that users cannot see the actual scores given to a school, just the icon associated with their score. You should define new names for the view columns to obscure the use of scores and icons in the original table.*

1) Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

| Column name in CHICAGO_PUBLIC_SCHOOLS | Column name in view |
| ------------------------------------- | ------------------- |
| NAME_OF_SCHOOL                        | School_Name         |
| Safety_Icon                           | Safety_Rating       |
| Family_Involvement_Icon               | Family_Rating       |
| Environment_Icon                      | Environment_Rating  |
| Instruction_Icon                      | Instruction_Rating  |
| Leaders_Icon                          | Leaders_Rating      |
| Teachers_Icon                         | Teachers_Rating     |

In [6]:
%%sql
CREATE VIEW V_PUBLIC_SCHOOLS (
    School_Name, 
    Safety_Rating, 
    Family_Rating, 
    Enviroment_Rating, 
    Instruction_Rating, 
    Leaders_Rating, 
    Teachers_Rating
    ) 
AS SELECT 
    NAME_OF_SCHOOL, 
    Safety_Icon, 
    Family_Involvement_Icon, 
    Environment_Icon, 
    Instruction_Icon, 
    Leaders_Icon, 
    Teachers_Icon
FROM CHICAGO_PUBLIC_SCHOOLS;

 * sqlite:///FinalDB.db
Done.

[]

2) Write and execute a SQL statement that returns all of the columns from the view.

In [15]:
#Retrive the name of the columns of the view V_PUBLIC_SCHOOLS

%sql PRAGMA table_info(V_PUBLIC_SCHOOLS);

 * sqlite:///FinalDB.db
Done.

[(0, 'School_Name', 'TEXT', 0, None, 0),
 (1, 'Safety_Rating', 'TEXT', 0, None, 0),
 (2, 'Family_Rating', 'TEXT', 0, None, 0),
 (3, 'Enviroment_Rating', 'TEXT', 0, None, 0),
 (4, 'Instruction_Rating', 'TEXT', 0, None, 0),
 (5, 'Leaders_Rating', 'TEXT', 0, None, 0),
 (6, 'Teachers_Rating', 'TEXT', 0, None, 0)]

3) Write and execute a SQL statement that returns just the school name and leaders rating from the view.

In [17]:
%%sql 
SELECT * 
FROM V_PUBLIC_SCHOOLS 
ORDER BY 
    Safety_Rating, 
    Family_Rating, 
    Enviroment_Rating, 
    Instruction_Rating, 
    Leaders_Rating, 
    Teachers_Rating 
DESC LIMIT 10;

 * sqlite:///FinalDB.db
Done.

[('DeWitt Clinton Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Elaine O Goodlow Elementary Magnet School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Ferdinand Peck Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Lorenz Brentano Math & Science Academy Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Pilsen Elementary Community Academy', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Richard J Oglesby Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Weak'),
 ('Federico Garcia Lorca Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Very Strong'),
 ('John Calhoun North Elementary School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Very Strong'),
 ('TEAM Englewood Community Academy High School', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Strong'),
 ('Turner-Drew Elementary Language Academy', 'Average', 'Average', 'Average', 'Average', 'Weak', 'Strong')]

# Exercise 3: Creating a Stored Procedure

*The icon fields are calculated based on the value in the corresponding score field. You need to make sure that when a score field is updated, the icon field is updated too. To do this, you will write a stored procedure that receives the school id and a leaders score as input parameters, calculates the icon setting and updates the fields appropriately.*

## Question 1

Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Donâ€™t forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.
Take a screenshot showing the SQL query.

In [ ]:
%%sql
--#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
@

## Question 2

Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.
Take a screenshot showing the SQL query.

In [ ]:
%%sql
--#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET Leaders_Icon = in_Leader_Score
    WHERE School_ID = in_School_ID;
END
@

## Question 3

Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

| Score lower limit | Score upper limit | Icon        |
| ----------------- | ----------------- | ----------- |
| 80                | 99                | Very strong |
| 60                | 79                | Strong      |
| 40                | 59                | Average     |
| 20                | 39                | Weak        |
| 0                 | 19                | Very weak   |

In [ ]:
%%sql
--#SET TERMINATOR @
CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
LANGUAGE SQL
MODIFIES SQL DATA
BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET Leaders_Icon = in_Leader_Score
    WHERE School_ID = in_School_ID;
    
    IF in_Leader_Score >= 80 AND <= 99 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very Strong';
    ELSEIF in_Leader_Score >= 60 AND <= 79 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Strong';
    ELSEIF in_Leader_Score >= 40 AND <= 59 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Average';
    ELSEIF in_Leader_Score >= 20 AND <= 39 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Weak';
    ELSEIF in_Leader_Score >= 0 AND <= 19 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET Leaders_Icon = 'Very Weak';
    END IF;
END
@

## Question 4
* Run your code to create the stored procedure. Take a screenshot showing the SQL query and its results.

* Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

# Exercise 4: Using Transactions

*You realise that if someone calls your code with a score outside of the allowed range (0-99), then the score will be updated with the invalid data and the icon will remain at its previous value. There are various ways to avoid this problem, one of which is using a transaction.*

## Question 1

Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories. Take a screenshot showing the SQL query.

## Question 2
Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure. Take a screenshot showing the SQL query.

* Run your code to replace the stored procedure.

* Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.

* Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.